font-family: 'Oswald', sans-serif;

li{
    float: right;
    margin-right: 60px;
    
    list-style: none;
    
  }
  .bar-display{
      display: flex;
  }
  
  a{
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    padding: 8px;
    background-color: orange;
  }
  ul {
      list-style: none;
      width: 30px
     
  }
 
 h1{
     font-size: 50px;
      
 }
 .marque{
     background-color:black;
     border-radius: 10px;
     color:  whitesmoke;
 }

.orang{
    color: orange
}

.button{
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange,rgb(243, 49, 15));
    color:white;
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 25px;
    box-shadow: 0px 2px 5px 5px pink  
}
a{
     text-decoration: none;
}
 .top{
    display: flex;
     
}
 
.half-skip{
    padding-top:  150px;
    margin-left: 40px;
    

}
.first-image{
    width: 65%;
    padding-left: 300px;
    padding-top: 50px;
     
} 

.mid-background{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0%;
    background-size: 100% 100%;
     
     width: 100%;
}
#secound-img{
    width: 200px;
    padding: 10px;
    margin: 15px;
}
.mid-about{
     padding-left: 500px;
     padding-top: 30px;
}
#recipe{
    text-align: center;
    padding-top: 30px;
    
}  
      
.recipe-menu{
    margin: 10px;
    margin-left: 100px;
    display: flex;
    padding: 0%;
    
}
.recipe-menu img{
    height: 300px;
    width: 330px;
  padding-left: 5px;
    padding-right: 5px;
    margin:  auto;
}
.recipe-menu p{
    padding-left: 2px;
    padding-right: 45px;
    width: 250px;
     
}
.recipe-menu h2{
 color: orange;
  
}
.recipe-border{
     
    margin: 15px;
    box-shadow: 10px 10px 40px grey;
    border-radius: 12px;
}
.recipe-border p{
    margin-left: 10px;
}
.recipe-border h2{
    margin-left: 10px;
}
.order-img{
    
    margin-left: 30px;
    padding-left: 30px;
    padding-top: 50px;
}
.order-img img{
    margin-right: 100px;
    margin-top: 60px;
    width: 400px;
    height: 350px
}
.order-part{
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    background-color: aliceblue;
    margin: 39px;
    display: flex;
}
.half-order{
    padding: 30px;
    margin: 50px;
    margin-left: 50px;
}

.half-order h1{
    text-align: center;
}
.red{
    color: red;
}
.nagod-img{
    margin-left: 30px;
    padding-left: 30px;
    padding-top: 50px;
}
.nagod-img img{
    margin-right: 100px;
    margin-top: 60px;
    width: 400px;
    height: 350px
}
#delivery-img img{
    height: 400px;
    margin-right: 40px;
    margin-top: 300px;

}
#deliver-two h3{
     text-align: center;
}
.rank-border{
     margin-left: 90px;
    margin-right: 50px;
    margin-top: -100px;
    
}
.rank-border p{
    text-align: center;
     margin-top: -40px;
     font-size: 19px;
}
.rank{
    display: flex;
    
    box-shadow: 10px 10px 40px grey;
    font-size: 30px;
    border: 1px solid gainsboro;
     width: 70%;
     border-radius: 5px;
     margin-left: 170px;
     height: 50px;
     margin-bottom: 5px;
     padding-top: 100px;
}
footer{
    background-color: black;
    text-align: center;
    color: azure;
    height: 150px;
    margin: 20px;
}
 
 