font-family: 'Oswald', sans-serif;
 
 
 h1{
     font-size: 50px;
      
 }
.orang{
    color: orange
}

.button{
    color: white;
    font-weight: 700;
    padding: 10px;
     
    border-radius: 5px;
    background-image: linear-gradient(red, yellow);
}
a{
     text-decoration: none;
}
 .top{
    display: flex;
     
}
 
.half-skip{
    padding-top:  150px;
    margin-left: 40px;
    

}
.first-image{
    width: 65%;
    padding-left: 300px;
    padding-top: 50px;
     
} 

.mid-background{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-position: center;
    margin: 0%;
    background-size: 100% 100%;
     
     width: 100%;
}
#secound-img{
    width: 200px;
    padding: 10px;
    margin: 15px;
}
.mid-about{
     padding-left: 500px;
     padding-top: 30px;
}
#recipe{
    text-align: center;
    padding-top: 30px;
    
}  
     
 
.recipe-menu{
    margin: 10px;
    margin-left: 100px;
    display: flex;
    padding: 0%;
    
}
.recipe-menu img{
    height: 300px;
    width: 330px;
  padding-left: 5px;
    padding-right: 5px;
    margin:  auto;
}
.recipe-menu p{
    padding-left: 2px;
    padding-right: 45px;
    width: 250px;
     
}
.recipe-menu h2{
 color: orange;
  
}
.recipe-border{
     background-color: gainsboro;
    margin: 15px;
    border-radius: 12px;
}
 
.rank-border{
     margin-left: 90px;
    margin-right: 50px;
    margin-top: -100px;
    
}
.rank-border p{
    text-align: center;
     margin-top: -40px;
     font-size: 19px;
}
.rank{
    display: flex;
    background-color: rgb(250, 235, 215);
    font-size: 30px;
    border: 1px solid gainsboro;
     width: 70%;
     border-radius: 5px;
     margin-left: 90px;
     height: 50px;
     padding: 100px;
}
footer{
    background-color: black;
    text-align: center;
    color: azure;
    height: 150px;
    margin: 20px;
}
 
 